body {
    background-color: #262626;
    --body-pad-width: 80px;
    color: #F0F0F0;
    font-family: Lato;
    font-weight: 400;
    overflow-x: hidden;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga", "kern";
    /* outline: 1px solid red; */
}

#body-div{
    margin: 0px var(--body-pad-width);
}


#content-div {
    margin: 0px 80px;
}

@media (min-width: 1280px) {
    #body-div {
        width: 1120px;
        margin-left: auto;
        margin-right: auto;
    }
    
}

@media (max-width: 800px) {
    #body-div {
        --body-pad-width: 1rem;
    }
    
}

header{
    position: sticky;
    top: 0;
    z-index: 999;
    background: #262626;
    padding: 0 var(--body-pad-width);
    width: 101vw;
    left: calc(50vw - 50%);
}

.div-48-pad {
    padding: 48px 0px;
}

@media (max-width: 800px) {
    .div-48-pad {
        padding: 40px 0px;
    }
}

.section-div {
    padding-top: 16px;
    padding-bottom: 48px;
}

@media (max-width: 800px) {
    .section-div {
        padding-top: 8px;
        padding-bottom: 40px;
    }
}



.section-title {
    color: #A7A7A7;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.60px;
    margin-bottom: 24px;
}

@media (max-width: 800px) {
    .section-title {
        margin-bottom: 16px;
    }
}

.vertical-color-bar {
    width: 2px;
    background: var(--project-color);
    margin-right: 8px;
}

#navbar{
    height: 104px;
    padding: 24px 0px;
    /* margin-bottom: 40px; */
    /* outline: 1px solid red; */
}

@media (max-width: 800px) {
    #navbar{
        height: 88px;
    }
}

.navbar-left{
    /* width: 56px; */
    height: 100%;
}

.navbar-right{
    float: right;
    height: 100%;
    display: flex;
	align-items: center;
    font-size: 20px;
    margin-left: 48px;
}

#navbar-burger-div{
    display: none;
}

#navbar-menu {
    display: none;
}

@media (max-width: 800px) {
    .navbar-right{
        display: none;
    }

    #navbar-burger-div{
        display: flex;
        float: right;
        padding: 8px;
    }

    #navbar-burger-div:hover {
        cursor: pointer;
    }

    .navbar-menu-elem {
        width: 50%;
        padding: 16px 0px;
        /* outline: 1px solid red; */
        font-size: 16px;
        display: flex;
        gap: 24px;
        align-items: center;
    }
}

#project-title {
    font-size: 48px;
    font-family: EB Garamond;
    margin-bottom: 32px;
}

@media (max-width: 800px) {
    #project-title {
        font-size: 32px;
        margin-bottom: 16px;
    }
}

#project-desc {
    font-size: 20px;
}

@media (max-width: 800px) {
    #project-desc {
        font-size: 16px;
    }
}

#project-info {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    border-top: 1px solid #A7A7A7;
    border-bottom: 1px solid #A7A7A7;
    flex-wrap: wrap;
}

.zero-bottom-margin{
    margin-bottom: 0px;
}

.solution-number-div {
    color: #A7A7A7;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    margin-bottom: 24px;
}

ul {
    padding-left: 30px;
}

li + li{
    margin-top: 16px;
}


.banner-div {
    background-color: var(--project-color);
    position: relative;
    /* left: calc(-1*var(--body-pad-width));
    width: calc(100% + 2*var(--body-pad-width)); */
    color: #262626;
    font-size: 24px;
    text-align: center;
    left: calc(50% - 50vw);
    width: 100vw;
    padding: 48px 20px;
    margin-bottom: 48px;
}

@media (max-width: 800px) {
    .banner-div {
        padding: 32px 32px;
    }
}

.banner-title{
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2.40px;
    margin-bottom: 24px;
}

@media (max-width: 800px) {
    .banner-title{
        font-size: 20px;
        letter-spacing: 2px;
        margin-bottom: 16px;
    }
}

.banner-content{
    margin: 0px var(--body-pad-width);
}

@media (max-width: 800px) {
    .banner-content{
        font-size: 16px;
    }
}

@media (min-width: 1280px) {
    .banner-content{
        width: 1120px;
        margin-left: auto;
        margin-right: auto;
    }
}

.row-of-boxes-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 48px;
    /* flex-wrap: wrap; */
}

@media (max-width: 800px) {
    .row-of-boxes-container {
        flex-direction: column;
        gap: 32px;
    }
}


.numbered-title {
    color: var(--project-color);
    font-size: 20px;
    font-family: Lato;
    font-weight: 700;
    margin-bottom: 16px;
}

@media (max-width: 800px) {
    .numbered-title {
        font-size: 16px;
        margin-bottom: 8px;
    }
}



.block-link{
    position: absolute;
    top: 0;
    left: 0;
    right: 0; 
    bottom: 0;
    text-indent: -9999px;
    overflow: hidden;
    pointer-events: all;
    z-index: -1;
}






#bottom-bar {
    height: 109px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-top:  1px solid #888888;
    color: #A7A7A7;
    padding: 40px 8px;
}



